<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ideassoccer.BaseStation.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ideassoccer.BaseStation.UI.Properties.Settings>
            <setting name="Robot1UdpPort" serializeAs="String">
                <value>4991</value>
            </setting>
            <setting name="Robot1Name" serializeAs="String">
                <value>Robot 1</value>
            </setting>
            <setting name="Robot1Id" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Robot1EndpointAddress" serializeAs="String">
                <value>192.168.0.100</value>
            </setting>
            <setting name="Robot1EndpointPort" serializeAs="String">
                <value>4242</value>
            </setting>
            <setting name="Robot2Id" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Robot2Name" serializeAs="String">
                <value>Robot 2</value>
            </setting>
            <setting name="Robot2UdpPort" serializeAs="String">
                <value>4992</value>
            </setting>
            <setting name="Robot2EndpointAddress" serializeAs="String">
                <value>192.168.0.103</value>
            </setting>
            <setting name="Robot2EndpointPort" serializeAs="String">
                <value>4242</value>
            </setting>
            <setting name="RefBoxEndPoint" serializeAs="String">
                <value>127.0.0.1:9000</value>
            </setting>
        </Ideassoccer.BaseStation.UI.Properties.Settings>
    </userSettings>
</configuration>